
@media print{

body {
font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: white;
color: black;
}

.name {
    font-size: 2rem;
}
.date{
    font-style: italic;
    font-size: 1rem;
}
.basic-info{
    font-size: 1rem;
}
/* education styling */
.higher-edu > h2{
    font-size: 2rem;
}
.edu-grid{
     display: grid;
     row-gap: 5% 5%;
     grid-template-columns: auto auto;
    }
.edu-title{
    font-size: 1rem;
    font-weight: bold;
}
.edu-subtitle{

    font-size: 0.5rem;
}
.contact-info > a {
color: rgb(2, 2, 2);
font-size: 1rem;
}

 p{
inline-size: 60%;
overflow-wrap: break-word;
}

/*experience styling*/
.exp-grid{
     display: grid;
     row-gap: 5% 5%;
     grid-template-columns: auto auto;
  
}
.experience > h3 {
    font-size: 2rem;
}


.exp-title {
    font-size: 1rem;
    font-weight: bold;
}

.exp-subtitle{
    font-size: 1rem;
}

/*Tools styling*/

.tools > .grid{
     display: grid;
     row-gap: 5% 5%;
     grid-template-columns: auto auto ;
    
}

.tools > h4 {
    font-size: 3rem;
}

.tools > .grid >.grid-item-0 > h5{
    font-size: 2rem;
    
}
.tools > .grid >.grid-item-0 > ul {
    font-size: 1rem;
}

.tools > .grid >.grid-item-1 > h5{
    font-size: 2rem;
}
.tools > .grid >.grid-item-1 > ul {
    font-size: 1rem;
}

.tools > .grid >.grid-item-2 > h5{
    font-size: 2rem;
}
.tools > .grid >.grid-item-2 > ul {
    font-size: 1rem;
}

.tools > .grid >.grid-item-3 > h5{
    font-size: 2rem;
}
.tools > .grid >.grid-item-3 > ul {
    font-size: 1rem;
}

}